.navbar.navbar-top(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/") Logo
		#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/#")
						i(class="fa fa-university") &nbsp;
						span Link
				li
					a(href="/#")
						i(class="fa fa-search") &nbsp;
						span Link
				li
					a(href="/#")
						i(class="fa fa-shield") &nbsp;
						span Link
				if user
					li
						a(href="/#")
							i(class="fa fa-cog") &nbsp;
							span= user.name
					li
						a(href="/auth/logout")
							i(class="fa fa-sign-out") &nbsp;
							span Logout
				if !user
					li
						form.navbar-form(action="/auth/#", method="get")
							.input-group
								span.input-group-btn
									button.btn.btn-default(type="submit")
				li
					form.navbar-form.navbar-right(role="search")
						.input-group
							input.form-control(type="text", placeholder="Search")
							span.input-group-btn
								button.btn.btn-default(type="button")
									i(class="fa fa-search")
